.vscode

Int_Scheme/build/aggregatorData/*
Int_Scheme/build/demoData/ciphertexts/*.txt
Int_Scheme/a.out

Real_Scheme/build/aggregatorData/*
Real_Scheme/build/demoData/ciphertexts/*.txt
Real_Scheme/a.out
